# User Service Configuration
NODE_ENV=development

# gRPC Server configuration
GRPC_HOST=localhost
GRPC_PORT=50051

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/wallet_system_dev

# Logging
LOG_LEVEL=debug
